<%= render "shared/header" %>
<div class="row py-2">
<div class="col-3">
</div>
<div class="col-6">
 <div class="text-center">
  <%= image_tag @tweet.image.variant(resize: '300x500') if @tweet.image.attached? %>
 </div>
 <div class="text-center my-3">
  <h3><%= @tweet.title%></h3>
 </div>
 <div class="text-center">
  <%= @tweet.text %>
 </div>
 <div class="py-4 my-4">
  <%= link_to user_path(@tweet.user.id) do %>
  <div class="text-center">
  <b><%= @tweet.user.name %><b>
  </div>
  <% end %>
 </div>
 </div>
 <div class="col-3">
 </div>
 </div>
