<%= render "shared/header" %>
 <div class="row py-2">

  <div class="col-3">
  </div>

  <div class="col-6">
   <div class="text-center">
    <%= image_tag @tweet.image.variant(resize: '300x500') if @tweet.image.attached? %>
   </div>
   <div class="text-center my-3">
    <h3><%= @tweet.title%></h3>
   </div>
   <div class="text-center">
    <%= @tweet.text %>
   </div>
   
   <div class="text-center my-3">
    <ul>
      <% @comments.each do |comment| %>
        <div class="row">
        <div class="col-6">
         <%= comment.comment %>
        </div>
        <div class="col-6">
         <%= comment.user.name %>
        </div>
        </div>
      <% end %>
    </ul>
   </div>
   <div>
    <%= form_with model: [@tweet,@comment], local: true do |f| %>
      <%= f.text_area :comment, class:"form-control", placeholder: "comment", type:"comment", row:"4",maxlemgth:"120", style:"border:0;" %>
     <div class="text-center py-1">
      <%= f.submit "comment", class:"btn btn-primary" %>
     </div>
   <% end %>
  </div>
  </div>

  <div class="col-3">
  </div>
 </div>
